.header_cont {
    background: #f8f8f8;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
.header_text {
    font-size: 18px;
}
.dn_icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    .dn_title {
        display: none;
    }
    .db_icon {
        display: block;
    }
  }
