.button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 5px;
    font-size: 17px;
    background: #448a95;
    color: white;
    font-weight: 700;
    margin-top: 30px;
}
.button:active {
    background: rgb(54, 130, 181);
}